<div class="container">
  <h3>User Info</h3>
  <div class="user d-flex p-3 flex-lg-row flex-column">
      <div class="user__img m-1">
        <a href="{{user.link}}">
          <img src="{{user.avatar}}" alt="">
        </a>
      </div>
      <ul class="user__name list-group flex-fill m-1">
        <li class="list-group-item"><b>Login</b>: {{user.login}}</li>
        <li class="list-group-item"><b>Type</b>: {{user.type}}</li>
        <li class="list-group-item"><b>Link to</b>: <a href="{{user.link}}">Profile</a></li>
      </ul>
  </div>
</div>
