/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

.mr-1 {
  margin-right: .5rem;
}
.nav {
  margin: 20px 0;
  background: #EEF;
  padding: 15px 0;
  border-radius: 5px;
}
